build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
    docker build -f election-commission/Dockerfile -t election-commission:$GIT_COMMIT_ID election-commission 
    docker tag election-commission:$GIT_COMMIT_ID  election-commission:$ROOST_NAMESPACE  
    cd ./ && make
deploy:
  type: text
  content: |2
     #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    HELM_OPTS=""
    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    HELM_OPTS=""
    helm upgrade demoapp-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
     
     docker-compose -f election-commission/ingress.yaml up -d
    kubectl apply -n $ROOST_NAMESPACE -f election-commission/ingress.yaml
test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: election-commission
    configType: artillery
    configPath: election-commission/ingress.yaml
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
uninstall:
  type: None
  content: ''
dockerCompose: election-commission/ingress.yaml
lastUpdatedBy: Sakshi Parasar
lastUpdatedOn: 2023-02-24T06:08:05.608Z
